# **Task - 2 Python Programming Practice Solutions**
## **Data Science Internship â€“ February 2026**
## Task 2: Feb Internship Logic Building Task
**Name: Kataram Navya Sree**

**Date: 13-02-2026**

## **Problem 1: Unique Words in a Sentence**
### **Problem Statement**
### Given a sentence, identify all unique words and display:
### 1. The count of unique words
### 2. The unique words themselves

In [ ]:
# Problem 1: Unique Words in a Sentence

import string

# Input and normalization
sentence = input("Enter sentence: ").lower()
sentence = sentence.translate(str.maketrans('', '', string.punctuation))  # remove punctuation

words = sentence.split()

unique_words = []
seen = set()   # used for fast duplicate checking

for word in words:
    if word not in seen:   # add only first occurrence
        unique_words.append(word)
        seen.add(word)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: ['python', 'is', 'easy', 'and', 'powerful']

## **Problem 2: Highest Salary from Employee Data**
### **Problem Statement**
### Store employee names and their salaries, and determine which employee has the highest salary.

In [ ]:
# Problem 2: Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

## **Problem 3: Find Maximum and Minimum Values**
### **Problem Statement**
### Find the maximum and minimum values from a list of numbers.

In [ ]:
# Problem 3: Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

## **Problem 4: Count Products Above a Price Threshold**
### **Problem Statement**
### Count how many products have a price greater than 1000.

In [ ]:
# Problem 4: Products above 1000

prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

## **Problem 5: Calculate Attendance Percentage**
### **Problem Statement**
### Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [ ]:
# Problem 5: Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

percentage = (present_days / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

## **Problem 6: Remove Duplicate Phone Numbers**
### **Problem Statement**
### You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [ ]:
# Problem 6: Remove duplicate phone numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

## **Problem 7: Count Character Frequency**
### **Problem Statement**
### Count how many times each character appears in a given string.

In [ ]:
# Problem 7: Character Frequency

text = input("Enter a string: ")

freq = {}

for char in text:
    freq[char] = freq.get(char, 0) + 1

print(freq)

Enter a string: ppython
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## **Problem 8: Convert List to Tuple**
### **Problem Statement**
### Convert a list into a tuple and display it.

In [ ]:
# Problem 8: List to Tuple

lst = [10, 20, 30]

tup = tuple(lst)

print("Tuple:", tup)

Tuple: (10, 20, 30)

## **Problem 9: Check if a Key Exists in a Dictionary**
### **Problem Statement**
### Check whether a specific key exists in a dictionary.

In [ ]:
# Problem 9: Key exists in dictionary

employee = {
    "id": 101,
    "name": "Ravi",
    "salary": 50000
}

key = input("Enter key to check: ")

if key in employee:
    print("Employee exists")
else:
    print("Key not found")

Enter key to check: id
Employee exists

## **Problem 10: Calculate Average Marks**
### **Problem Statement**
### Calculate the average marks of a student from a list of marks.

In [ ]:
# Problem 10: Average Marks

marks = [70, 75, 80, 65]

average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5